
#container-quiz{
  width: 100vw;
  height: 100vh;
  background-color: rgb(27, 36, 36);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#container-logo{
  width: 300px;
  height: 250px;
}

#container-progress-time{
  width: 100%;
  height: 15px;
  display: flex;
  flex-direction: row;
  align-items:center;
  justify-content: center;
  margin-top: 30px;

}

#progress9{
  width: 300px;
  height: 15px;
  background-color: rgb(10, 202, 10);
  border-radius: 5px 0px 0px 5px;
}
#progress10{
  width: 200px;
  height: 15px;
  background-color: rgb(12, 19, 59);
  border-radius: 0px 5px 5px 0px;
}

.logo-pulo-do-gato{
  width: 300px;
  height: 250px;
}

.question-time{
  width: 100vw;
  height: 50px;
  color: aliceblue;
  display: flex;
  justify-content: center;
}

#container-buttons{
  width: 100vw;
  height: 40vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#img-male:hover,
#img-female:hover {
  border-color:rgb(10, 202, 10);;
}

#container-buttons2{
  width: 350px;
  height: 50px;
  margin: 10px;
  border: solid white 2px;
  border-radius: 10px;
  background-color: rgb(12, 19, 59);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

#container-buttons2:hover {
  border-color:rgb(10, 202, 10);;
}







@media (max-width: 768px){
  #container-quiz{
    width: 100vw;
    height: 100vh;
    background-color: rgb(27, 36, 36);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  #container-logo{
    width: 300px;
    height: 250px;
  }
  
  #container-progress-time{
    width: 85%;
    height: 15px;
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    margin-top: 30px;
  
  }
  
  #progress9{
    width: 200px;
    height: 15px;
    background-color: rgb(10, 202, 10);
    border-radius: 5px 0px 0px 5px;
  }

  #progress10{
    width: 150px;
    height: 15px;
    background-color: rgb(12, 19, 59);
    border-radius: 0px 5px 5px 0px;
  }
  
  .logo-pulo-do-gato{
    width: 300px;
    height: 250px;
  }
  
  .question-time{
    width: 100vw;
    height: 50px;
    color: aliceblue;
    display: flex;
    justify-content: center;
    font-size: 25px;
  }
  
  #container-buttons{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #img-male:hover,
  #img-female:hover {
    border-color:rgb(10, 202, 10);;
  }
  
  #container-buttons2{
    width: 350px;
    height: 50px;
    margin: 10px;
    border: solid white 2px;
    border-radius: 10px;
    background-color: rgb(12, 19, 59);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: aliceblue;
  }
  
  #container-buttons2:hover {
    border-color:rgb(10, 202, 10);;
  }
 }