
.video-player {
  height: 200px;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #000000;
}

.video-player video {
  display: flex;
  justify-content: start;
  align-items: start;
  width: 100%;
  border-radius: 1px;
  height: auto;
  
}

@media (max-width: 768px){
  .video-player {
    height: 100px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000000;
  }
  
  .video-player video {
    display: flex;
    justify-content: start;
    align-items: start;
    width: 100%;
    border-radius: 1px;
    
  }
}


