.video-container {
  width: 100%;
  max-width: 800px;
  position: relative;
  padding-bottom: 56.25%; /* Proporção 16:9 */
  height: 350;
}

.video-container iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.container-slide{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 350px;
}


