:root {
  height: auto;
  width: 100%;
}

.container-method-landing {
  background-image: url('../assets/background.png');
  background-size: cover;
  width: 100%;
  height: 1300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.logo-fabrica {
  width: 270px;
  height: 275px;
  margin-top: 20px;
}

.title {
  width: 90%;
  height: 200px;
  text-align: center;
  color: #fff;
  font-size: 30px;
}

.container-cards {
  width: 90vw;
  height: 550px;
  display: flex;
  align-items: center;
  justify-content: center;

}

.container-cards-in {
  width: 97%;
  height: 90%;
  display: flex;
  align-items: center;
  justify-content: center;
}

cores {
  color: #ff3333
}

.img-harmonia {
  width: 340px;
  border-radius: 20px;
  margin-top: 20px;
  border: solid 1px rgb(253, 253, 253);
  cursor: pointer;

}

.img-harmonia:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #333;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  text-align: left;
}

.sidebar button:hover {
  background: #555;
}

.video-player {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
}

.video-player video {
  width: 80%;
  max-width: 800px;
  border-radius: 10px;
}

@media (max-width: 1620px) {

  .container-cards {
    grid-template-columns: repeat(2, 1fr);
  }

}




@media (max-width: 768px) {

  .container-method-landing {
    width: 100%;
    background-size:contain;
    background-repeat: no-repeat;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: #000000;
  }

  .container-cards {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  .container-cards-in {
    width: 97%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  .img-harmonia {
    width: 240px;
    border-radius: 20px;
    margin-top: 20px;
    border: solid 1px rgb(253, 253, 253);
    cursor: pointer;
  
  }

  .logo-fabrica {
    margin-top: 30px;
    width: 200px;
    height: 180px;
  }


  .title {
    width: 90%;
    height: 280px;
    margin-top: 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }



  cores {
    color: #ff3333
  }





}